:root{
    --background-color: #c14040;
    --header-color: #efe3e3;
    --card-color: #982c2c;
    --details-background-color: #ab3838;
    --progress-color: #632b2b;
}

html{
    font-family: 'Bree Serif', serif;
}

body{
    background-color: var(--background-color);
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--progress-color);
}

.container{
    margin: 1rem;
}

.header{
    background-color: var(--header-color);
    color: var(--background-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.header__title{
    font-size: 2rem;
}

.header__link,
.menu__link{
    color: var(--background-color);
}

.menu{
    margin-top:auto;
    margin-bottom: auto;
}

.menu__list{
    display: flex;
}

.menu__item{
    margin-left: 15px;
}

.cards-group{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: var(--card-color);
    margin:.7rem;
    padding:1rem;
    border-radius: 30px;
    text-align: center;
}

.card__title{
    font-size: 1.4rem;
}

.card__link{
    display: block;
    width: 100%;
    height: 100%;
    color: #f9d3d3;
    text-decoration: none;
}
